.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  padding: 0.5rem;
  /* position: relative; */
}
.container li {
  list-style-type: none;
}

.navItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.5s ease-in-out;
  height: 50%;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  background: var(--main-color);
  width: 50%;
  height: 100vh;
  text-align: center;
}

.navItemsContainerHide {
  transform: translateX(1000%);
}
.navItemsContainerShow {
  transform: translateX(0%);
}

.navItemsContainer li {
  margin-top: 4rem;
}

.navItemsContainer a {
  text-transform: capitalize;
  font-size: bold;
  color: var(--fourth-color) !important;
}
.btn {
  position: absolute;
  font-size: 25px;
  cursor: pointer;
  padding: 0;
  top: 5px;
  right: 10px;
  /* bottom: 0; */
  margin: 0;
  z-index: 100;
  color: var(--third-color);
}

.logo a {
  color: var(--fourth-color) !important;
  font-weight: bolder;
  text-transform: capitalize;
  font-style: italic;
}

.logo span {
  font-style: normal;
}

@media screen and (min-width: 769px) {
  .navItemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 0.2rem;
    gap: 1rem;
    height: 50%;
    background-color: transparent;
    position: relative;
    bottom: 0;
    top: 0;
    right: 0;
    text-align: center;
  }

  .navItemsContainer li {
    margin-top: 0;
  }

  .navItemsContainerHide {
    transform: translateX(0%);
  }
  .btn {
    display: none;
  }
}
