:root {
  --mobile: 320px;
  --tablets: 481px;
  --smallLapTop: 769px;
  --desktop: 1025px;
  --tv: 1201px;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  max-width: var(--tv);
  margin: 0 auto;
  padding: 0 0.5rem;
}

a,
p,
a::after,
a::before {
  text-decoration: none;
  font-family: inherit;
}

li {
  list-style-type: none;
}

a:hover {
  cursor: pointer;
}

button,
input {
  font-family: inherit;
  border: none;
  background-color: transparent;
}
button:focus,
input:focus {
  border: none;
  outline: none;
}
