*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

a,
p {
  text-decoration: none;
  font-family: inherit;
}

a:hover {
  cursor: pointer;
}

button,
input {
  font-family: inherit;
}
button:focus,
input:focus {
  border: none;
  outline: none;
}
